<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create New User</title>
</head>
<body>
<h1>Create New User</h1>

<form th:action="@{/users}" th:object="${user}" method="post">
    <label for="name">Name:</label>
    <input type="text" th:field="*{name}" id="name"/><br/>

    <label for="username">Username:</label>
    <input type="text" th:field="*{username}" id="username"/><br/>

    <label for="password">Password:</label>
    <input type="password" th:field="*{password}" id="password"/><br/>

    <label for="age">Age:</label>
    <input type="number" th:field="*{age}" id="age"/><br/>

    <label for="roles">Roles:</label>
    <select th:field="*{roles}" multiple>
        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.role}"></option>
    </select><br/>

    <button type="submit">Create User</button>
</form>

</body>
</html>
