<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<h1>User Info</h1>

<div>
    <p><strong>ID:</strong> <span th:text="${user.id}">1</span></p>
    <p><strong>Name:</strong> <span th:text="${user.name}">John</span></p>
    <p><strong>Username:</strong> <span th:text="${user.username}">johndoe</span></p>
    <p><strong>Age:</strong> <span th:text="${user.age}">30</span></p>
</div>

<h2>Roles</h2>
<ul>
    <li th:each="role : ${user.roles}" th:text="${role.role}">ROLE_USER</li>
</ul>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a href="/users/admin">
        <button>Go to Admin Panel</button>
    </a>
</div>

<a href="/logout">
    <button>Logout</button>
</a>

</body>
</html>
