<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <style>
        button {
            margin-top: 10px;
            padding: 8px 16px;
            cursor: pointer;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<h1>Admin panel</h1>

<!-- Кнопка для перехода на страницу создания нового пользователя -->
<a href="/users/new">
    <button>Create New User</button>
</a>

<!--&lt;!&ndash; Кнопка для перехода на страницу админов, доступна только для админов &ndash;&gt;-->
<!--<div sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--    <a href="/users/user">-->
<!--        <button>Go to InfoPage</button>-->
<!--    </a>-->
<!--</div>-->

<!-- Список пользователей -->
<ul>
    <li th:each="user : ${users}">
        <p th:text="'Name: ' + ${user.name}"></p>
        <p th:text="'Age: ' + ${user.age}"></p>

        <!-- Ссылка для редактирования пользователя -->
        <a th:href="@{/users/edit(id=${user.id})}">
            <button>Edit</button>
        </a>

        <!-- Ссылка для просмотра информации о пользователе -->
        <a th:href="@{/users/user/info(id=${user.id})}">
            <button>View Info</button>
        </a>

        <form th:action="@{/users/delete(id=${user.id})}" method="post" style="display:inline;">
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

<a href="/logout">
    <button>Logout</button>
</a>

</body>
</html>